body {
    background-color:#dddddd;
}

.bg-redhat {
    background-color: #a30000;
}

.card {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.media {
    padding:10px;
}

.media-body {
    padding:10px;
}

.header-table {
    height:100%;
    border-spacing: 20px;
    border-collapse: separate;
}

.capability-header {
    font-size: 20pt;
}

.language-icon {
    font-size: 50pt;
}

.row-buffer {
    margin-top:20px;
}

.btn-group-vertical > button {
    margin-bottom:5px;
}

.code-example {
    font-family: monospace;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}