
#rest-capability {
  button.http {
    border-radius: 0;
  }

  input.http-param {
    border-radius: 0;
    height: 30px;
    width: 80%;
  }

  input#http-api-path-input{
    background-color: #f1f1f1;
    border: 1px solid #bbb;
    height: 30px;
    border-radius: 0;
    width: 300px;
    color: black;
  }

  button.http {
    height: 30px;
    min-height: auto;
    line-height: 23px;
  }
}