
#rest-capability {
  button.http {
    border-radius: 0;
  }

  input.http-param {
    border-radius: 0;
    height: 44px;
  }

  input#http-api-path-input{
    background-color: #f1f1f1;
    border: 1px solid #bbb;
    height: 44px;
    border-radius: 0;
    width: 300px;
    color: black;
  }
}