
.http-request-service {
  line-height: 44px;
  font-weight: bold;
}


.http-request {
  .http-request-path {
    line-height: 44px;
    font-weight: bold;
  }

  .http-request-method {
    display: inline-block;
    line-height: 44px;
    height: 44px;
    width: 50px;
    text-align: center;
    color: black;
    border: 1px dashed #00659c;
    border-radius: 15px;
    text-transform: uppercase;
  }

  input.http-request-param {
    background-color: #f1f1f1;
    border: 1px solid #bbb;
    color: black;
    height: 44px;
    border-radius: 15px;
    border: none;
  }

  input.http-request-param:first-child {
    border-radius: 15px 0 0 15px;
  }

  .http-request-button {
    border-radius: 0 15px 15px 0;
    width: 100%;
  }
}