.shell-command {



  div.shell-command-prefix {
    background-color: #f1f1f1;
    border: 1px solid #bbb;
    width: 80px;
    text-align: center;
    font-family: monospace;
    font-style: normal;
    height: 44px;
    line-height: 44px;
  }

  input.shell-command-value {
    background-color: #f5f5f5;
    opacity: 1;
    text-align: left;
    width: 100%;
    font-family: monospace;
    font-style: normal;
    height: 44px;
    line-height: 44px;
    padding-left: 10px;
  }

  button {
    border-radius: 0;
  }

}

