header.pf-l-page__header{background-color:black}img.pf-c-brand{height:45px;max-height:none}.info-card{margin-bottom:10px}svg.with-text{line-height:21px;vertical-align:middle}aside nav li a{font-weight:bold !important}
